<div class="container">
<form class="FormContainer" [formGroup]="gameForm" (ngSubmit)="onSubmit()">
 <input required type="number" formControlName="amount" placeholder="Enter Amount">
  <select formControlName="category" required>
    <option *ngFor="let category of categories" [ngValue]="category.id"  >{{category.name}}</option>
  </select>
  <select formControlName="difficulty">
    <option *ngFor="let option of difficulties"  [ngValue]="option.value" >{{option.difficulty}}</option>
  </select>
  <select formControlName="type">
    <option *ngFor="let option of types"  [ngValue]="option.value"  >{{option.type}}</option>
  </select>
  <button type="submit">submit</button>
</form>
  <br><br>
 <div *ngFor="let question of questions; let id = index">
   <br>
   <label [htmlFor]="id">{{question.question}}
    <select  [attr.id]="id">
      <option *ngFor="let option of question.incorrect_answers">{{option}}</option>
    </select>
   </label>
 </div>
</div>
